.bottom {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 2px;
}
.close {
  width: 40px;
  height: 40px;
}

.tetx {
  font-size: 22px;
  font-weight: 500;
}

.shkala {
  position: absolute;
  z-index: 1011;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 60px;

  .shkala_img1 {
    position: absolute;
  }
}
